body{
text-align:center;
/*background-image:url("https://www.nwmissouri.edu/layout/admissions/images/slim-panel-bg.jpg"); */
background-color:#006747;


}
h1{
color:white;
font-family:cursive;
}
button,input,select,textarea {
font-family:cursive;
}
label{
color:white;
font-family:cursive;
}
.resize{
width:250px;
height: 250px;
}
.error{
color:red;
}
a{
color:gold;
font-family:cursive;

}
.img{
position:absolute;
top:0;
left:0;}
